.container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.todo--input {
    width: 40%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
}
.container .delete {
    background-color: var(--btn-delete-color);
}
.todo--input:hover {
    box-shadow: var(--primary-shadow);
}